@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --grey: #111111;
  --text-grey: #c1c1c1;
  --black: #000000;
  --white: #ffffff;
  --primary: #ffac2f;
  --fire-gradient-start: #FF3115;
  --fire-gradient-end: #FFD339;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--grey);
}

body {
  position: relative;
  z-index: -2;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
}

input {
  outline: none;
}